<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

<!--navigation start-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="{% url 'index' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'about_us' %}">About Us <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'order' %}">Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>


        </ul>

    </div>


    <a class="nav-link" href="{% url 'register' %}">Signup</a>
    {% if user.is_authenticated %}
    <a class="nav-link" href="{% url 'logout' %}">
        Logout
    </a>

    {% else %}
    <a class="nav-link" href="{% url 'login' %}">
        Login
    </a>
    {% endif %}


</nav>

{% for msg in messages %}
{% if msg.tags != 'error' %}

<div class="alert alert-{{ msg.tags }}">{{msg}}</div>


{% else %}
<div class="alert alert-danger">
    {{ msg}}
</div>

{% endif %}


{% endfor %}
<!--navigation end-->

<!--modal start-->
<!-- Button trigger modal -->


<!-- loginModal -->

<!--<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel">Login to MiliJuliGas</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <form>-->
<!--                    <div class="form-group">-->
<!--                        <label for="exampleInputEmail1">Email address</label>-->
<!--                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone-->
<!--                            else.</small>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="exampleInputPassword1">Password</label>-->
<!--                        <input type="password" class="form-control" id="exampleInputPassword1">-->
<!--                    </div>-->
<!--                    <div class="form-group form-check">-->
<!--                        <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--                        <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--                    </div>-->
<!--                    <button type="submit" class="btn btn-primary">Submit</button>-->
<!--                </form>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                <button type="button" class="btn btn-primary">Save changes</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash;modal end&ndash;&gt;-->

<!--&lt;!&ndash;signup modal&ndash;&gt;-->

<!--<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel">Resister to MiliJuliGas</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <form>-->
<!--                    <div class="form-group">-->
<!--                        <label for="exampleInputEmail1">Email address</label>-->
<!--                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone-->
<!--                            else.</small>-->
<!--                    </div>-->

<!--                    <div class="form-group">-->
<!--                        <label for="exampleInputPassword1">Phone</label>-->
<!--                        <input type="text" class="form-control" id="exampleInputPassword1">-->
<!--                    </div>-->

<!--                    <div class="form-group">-->
<!--                        <label for="exampleInputPassword1">Address</label>-->
<!--                        <input type="text" class="form-control" id="exampleInputPassword1">-->
<!--                    </div>-->


<!--                    <div class="form-group">-->
<!--                        <label for="exampleInputPassword1">Create Password</label>-->
<!--                        <input type="password" class="form-control" id="exampleInputPassword1">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="exampleInputPassword1">Confirm Password</label>-->
<!--                        <input type="password" class="form-control" id="exampleInputPassword1">-->
<!--                    </div>-->


<!--                    <button type="submit" class="btn btn-primary">Submit</button>-->
<!--                </form>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                <button type="button" class="btn btn-primary">Save changes</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--modal end-->

<!--#slider start-->


<!--slider end-->
<!--card start-->

<!--card end-->

<!--footer start-->

<!-- Footer -->
<div>
    {% block content %}


    {% endblock %}
</div>


<footer class="page-footer font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic">
                        <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> Milijuligasfarm.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!--<footer class="container">-->
<!--    <p class="float-right"><a href="#">Back to top</a></p>-->
<!--    <p>© 2017-2020 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>-->
<!--</footer>-->
<!--footer end-->
</body>
</html>